.headerContainer {
  width: 100%;
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.headerContainer img {
  width: 200px;
}
.headerContainer nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 700px;
}

.headerContainer a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
  /* or 34px */

  padding-left: 30px;

  display: flex;
  align-items: flex-end;
  text-align: right;

  color: #ff6060;
}
.headerContainer a:active {
  text-decoration: underline;
}

.active {
  text-decoration: underline;
}

@media only screen and (max-width: 500px) {
  .headerContainer a {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 142.6%;
     
  }
  .headerContainer img {
     width: 130px;
  }
}
