.tag {
  width: 100%;
  max-width: 115px;
  max-height: 28px;
  min-height: 18px;
  min-width: 84px;
  background-color: #ff6060;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 142.6%;
  color: white;
  text-align: center;
  border-radius: 18px;
  padding: 0px 10px;
  margin-right: 10px;
}
