.tag {
  
  max-height: 28px;
  min-height: 18px;
  
  background-color: #ff6060;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 142.6%;
  color: white;
  text-align: center;
  border-radius: 18px;
  padding: 3px 15px;
  margin-right: 10px;
}
